/* TO THE TOP BUTTON  */

.to-top{
    background: var(--bright-red);
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 16px;
    right: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--very-pale-red);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


